@{
    Html.AppendCssFileParts("~/Plugins/Widget.StatisticPrice/Content/css/StatisticPrice.css");
}

 <td class="tg-sl8y">@Model.StatisticPriceMontlyList[Model.StatisticPriceMontlyList.Count-1].MonthlyAveragePrice</td>