@using Nop.Core.Infrastructure;
@using System;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Core.Domain.Catalog;
@using Newtonsoft.Json;

@{
    Html.AppendCssFileParts("~/Plugins/Widget.BlogRecommandArticle/Content/css/BlogRecommand.css");
}

@*<script>
    $(function () {
        $('.new-address-next-step-button').prop('disabled', true);
    })
</script>*@

<div class="inputs custom-attributes">
    <label>寄送方式:</label>

    <ul class="option-list">
        <li>
            <input id="address_attribute_1_1" type="radio" name="address_attribute_1" value="1">
            <label for="address_attribute_1_1">郵寄</label>
        </li>
        <li>
            <input id="address_attribute_1_2" type="radio" name="address_attribute_1" value="2">
            <label for="address_attribute_1_2">店到店</label>
        </li>
    </ul>
    <span class="required">*</span>
</div>