@{
    Layout = "~/Views/Shared/_ColumnOne.cshtml";
    }

<div class="page home-page">
    <div class="page-body">
        customer:widget:<br />
        @Html.Widget("product_page_statistic_price");
    </div>
</div>

