@using Nop.Web.Framework;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI;
@using Nop.Core;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    Html.AppendCssFileParts("~/Plugins/Misc.SMS_SendText/Content/style.css");
}

<div class="__Container">
<div class="DescriptionText" >
<p>感謝您使用GoTrueCar服務</p>
<p>謝謝您，快到我們的粉絲團按讚喔！</p>
<p>新車車價每個月都在變動，若有需求歡迎再來查價</p>
<p>相關新車優惠也會公布在粉絲團: <a style="color:red" href="https://goo.gl/WQPS8f">https://goo.gl/WQPS8f</a></p>
<p>歡迎隨時關注</p>

</div>
</div>

